$body-font-family: "Poppins", sans-serif;
$header-font-family: "Poppins", sans-serif;

$body-background-color: #ffffff;
$sidebar-color: #f7f9fa;
$nav-child-link-color: #4b5c6b;
$nav-link-color: #4b5c6b;
$nav-link-color-active: #2c88d9;
$link-color: #2c88d9;
$btn-primary-color: #2c88d9;
$border-color: #c3cfd9;
