h1{
    margin: 0;
}

main{
    gap: 1rem;
}

.encabezado{
    display: flex;
    font-size: 0.85rem;
    gap: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--bordes);
}

/* cantidad de juegos */
.encabezado p:first-child{
    flex-grow: 1;
}

.juegos .juego .titulo, .encabezado .fa-filter{
    display: none;
}

.juegos .portada {
    aspect-ratio: 2 / 3;
    object-fit: cover;
    overflow: hidden;
    border-radius: 4px;
}

.juegos .juego {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.juegos .juego .puntuacion {
    padding: 0.15rem 0.35rem;
    color: var(--puntuacion);
    border: 1px solid var(--puntuacion);
    border-radius: 18px;
    width: fit-content;
    font-size: 0.9rem;
    margin-top: 0.2rem;
}

.juegos{
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media (min-width: 768px) {
    .juegos .juego .titulo, .encabezado .fa-filter{
        display: inline-block;
    }

    .juegos{
        grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
        gap: 2rem;
    }

    .juegos .juego{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
    }

    .juego .portada{
        grid-column: span 2;
    }

    .juego .titulo{
        margin-left: 0.5rem;
    }

    .juego .puntuacion{
        justify-self: end;
        margin-right: 0.5rem;
    }
}

@media (min-width: 992px) {
    .juegos{
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
}